.container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10vh;
    background-image: url('../../image/city/city_2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

.info{
    margin-top: 3%;
    background-color: #E1351A;
    display: flex;
    box-shadow: 1px 3px 16px 6px rgba(0,0,0,0.4);
    justify-content: flex-end;
    padding: 50px;
    width: 45%;
    text-align: justify;
    height: fit-content;
    color: white;

}
.text{
    font-size: 1.1em;
}
.title_neon{
    position: absolute;
    left: 1%;
    top: 16vh;
    box-shadow: 1px 3px 16px 6px rgba(0,0,0,0.2);
    font-family: Retrofont;
    font-size: 3em;
    padding: 0px 25px;
    border-radius: 10px;
    color: white;
    background-color: black;   
}
.tech_title{
    right: 10vh;
    position: absolute;
    color: white;
    font-family: RetroFont,Arial, Helvetica, sans-serif;
    font-size: 3em;
    background-color: black;
    padding: 5px 13px;
    border-radius: 5px;

}
.arrow_box{
    display: flex;
    transition: 0.3s ease;
    width: 60vw;
    height: 35vh;
    padding-left: 5px;
    align-items: center;
    z-index: 20;
    
    font-size: 4em;
    color: white;
    background-color: black;
    

}
.arrow_of{
    display: flex;
    transition: 0.3s ease;
    width:fit-content;
    height: 35vh;
    padding-left: 5px;
    align-items: center;
    z-index: 20;
    font-size: 4em;
    color: white;
    background-color: black;

}

.box_tech{
    display: flex;
}
.arrow_icon{
    transition: 0.2s ease;
    padding: 10px;
}

.logos{
    width: 90px;
    background-color: white;
    border-radius: 10px;
}
.logos:hover{
    transform: scale(1.05);
    

}

.grid_img{
    
    
    display: flex;
    
    flex-wrap:wrap;
    gap: 10px;
    justify-content: flex-start;
    object-fit: contain;  
    transition: 0.2s ease;
    
   

}
.logo_ancho{
    width: 200px;
    object-fit: contain;
    border-radius: 10px;
}
.logo_ancho:hover{
    transform: scale(1.05);
}
.contactos{
    display: flex;
    flex-direction: column;
    z-index: 30;
    position: absolute;
    left: 2%;
    font-size: 4em;
    gap: 10px;
    top: 40vh;

    color: white;
    
    
}

.icon{
    transition: 0.2s ease;
    
}
.icon:hover{
    transform: scale(1.1);
}
@media (max-width: 768px) {
    .title_neon{
        font-size: 2.1em;
        top: 15vh;
    }
    .info{
        width: 60%;
        margin-top: 5vh;
        padding: 30px;
        margin-right: 2%;
        margin-bottom: 2vh;
    }
    .tech_title{
        font-size: 2.3em;
        right: 11vw;
    }
    .arrow_box{
        height: 20vh;
        font-size: 1.5em;
        width: fit-content;
        
       
    
      }
      .arrow_of{
        height: 20vh;
        font-size: 1.5em;
    
      }
      .arrow_box{
        height: 20vh;
        font-size: 1.5em;
        width: fit-content;
       
    
      }
      .arrow_of{
        height: 20vh;
        font-size: 1.5em;
    
      }
      .logo_ancho{
        width: 110px;
        
    }
    
    .logos{
        width: 60px; 
    }
    .grid_img{
        margin-left: 7%;
    }
    .contactos{
        font-size: 3em;
        top:30vh;
        gap: 0px;
    }
    .icon{
        font-size: 1.2em;
        
        
    }
    
    }
  
  @media (max-width: 480px) {
    .title_neon{
        font-size: 1.5em;
        top: 12vh;
    }
    .info{
        width: 90%;
        padding: 30px;
        display: block;
        margin: auto;
        margin-top: 8vh;
        font-size: 0.9em;
        margin-bottom: 15px;
  }
  .tech_title{
    font-size: 1.9em;
    
  }
  .arrow_box{
    height: 20vh;
    font-size: 1.5em;
    width: fit-content;
   

  }
  .arrow_of{
    height: 20vh;
    font-size: 1.5em;

  }
  .logo_ancho{
    width: 110px;
    
}

.logos{
    width: 60px; 
}
.grid_img{
    margin-left: 7%;
}
.contactos{

    top:78vh;
    gap: 0px;
}
.icon{
    font-size: 0.8em;
    
    
}
}