@import 'https://fonts.googleapis.com/css?family=Rubik+One';
* {
    margin: 0;
    padding: 0;
}
.homeContainer{
    width: 100%;
    
    
    
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 12vh;
    background-image: url('../../image/city/city_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 30px;
    
    height: 100vh; /* Cambia este valor según tus necesidades */
    
    
}

.title{
    display: flex;
    justify-content: flex-end;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.065);
    width: fit-content;
    padding: 0 8px;
    color: white;
    font-size: 5em;
    height: fit-content;
    margin-right: 15px;
    margin-top: 5vh;
    
    border-radius: 20px;
    font-family:RetroFont, Arial, Helvetica, sans-serif ;
}
.info{
    display: flex;
    justify-content: flex-end;
    margin-right: 5vw;
    width: 60%;
    position: absolute;
    top: 40vh;
}
.span{
    font-size: 1em;
    color: white;
   padding: 5px 8px;
   
}
.info h2{
    
    font-size: 1.4em;
}
.info_items{
    color: white;
   text-align: justify;
    padding: 40px;
   width: 70%;
    gap: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    height: fit-content;
    margin-right: 20px;
    border-radius: 10px;
    font-size: 0.9em;

}
.title_neon{
    position: absolute;
    left: 1%;
    top: 16vh;
    box-shadow: 1px 3px 16px 6px rgba(0, 0, 0, 0.2);

    font-family: Retrofont;
    font-size: 3em;
    padding: 0px 25px;
    border-radius: 10px;
    color: white;
    background-color: black;
    
}
.title_box{
    display: flex;
    margin-right: 3%;
    margin-top: 1%;
}
.cursor {
    position: absolute;
    top: 27%;
    right: 0;
    width: 7px;
    
    height: 40%;
    background-color: white;
    animation: cursor-blink 0.6s infinite;
  }
  
  @keyframes cursor-blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
@media (max-width: 768px) {
    .title{
        font-size: 2.6em;
        height:10vh ;
        margin-bottom: 10px;
        width: fit-content;
        margin-right: 10px;
        
    }
    .title_neon{
        font-size: 2.1em;
        top: 15vh;
    }
    .info{
        display: flex;
        justify-content: flex-end;
        margin: 10px;
        font-size: 1.1em;
        width: 100%;
        top: 30vh;
        padding: 5px;
        
        

     }
     .info_items{
        padding: 25px;
        width: 70%;
        font-size: 0.6em;
        justify-content: flex-end;
        
        
     }
     
     .title_box img{
        width: 100px;
        height: 100px;
        margin-right: 1%;
     }
     .title_box{
        width: 100%;
        justify-content: flex-end;
        margin-top: 3%;
     }
     .cursor {
        top: 12%;
        height: 40%;
        width: 5px;
     }
    
  }

  @media (max-width: 480px) {
    .title{
        font-size: 2.5em;
        height: 10vh;
        margin-top: 2%;
        width:fit-content;
        
        
    }
    .title_neon{
        font-size: 1.5em;
        top: 12vh;
    }
    .info{
        display: block;
        margin: 10px;
        width: 95vw;
        

     }
     .info_items{
        width: 100%;
        font-size: 0.7em;
     }
     .title_box{
        flex-direction: column-reverse;
        align-items: flex-end;
        margin-top: 0;
     }
     .title_box img{
        width: 90px;
        height: 90px;
        gap: 0;
        
     }
  }



	
