.container{
    
    display: grid;
    padding-top: 14vh ;
    grid-template-columns: 45% 50%;
    
}

.form {
    width: 370px;
    height: fit-content;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin-top:2vh ;
    margin-left: 30%;
    padding: 10px 30px;
    padding-bottom: 3vh;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: relative;
  }
  
  .form h1 {
    margin: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
    
    color: black;
    font-size: 2.4em;
    font-family: RetroFont, Arial, Helvetica, sans-serif ;
    
  }
  
  .form input {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s;
    border-bottom: 2px solid #bebed2;
  }
  .form textarea{
    width: 100%;
    padding: 5px;
    padding-bottom: 20px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s;
    border-bottom: 2px solid #bebed2;
  }
  
  .form input:focus {
    border-bottom: 2px solid #78788c;
  }
  
  .form div:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a;
  }
  
  .form button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid  rgba(185,1,81,1);
    background: 0;
    color: rgba(185,1,81,1);
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .form button:hover {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(245,0,87,1) 0%, rgba(185,1,81,1) 90% );
    color: white;
  }
.alert{
  background-color: red;
    position: absolute;
    right: 2%;
    width: 60%;
}
.alert_text{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.button_linkedin{
  margin-top: 20px;
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  gap: 10px;
  color:white;
  padding: 10px 20px;
  background-color: rgb(0, 150, 204);
  border-radius: 5px;
  font-size: 1em;
  font-weight: 700;
  transition: 0.2s ease;
}
.button_linkedin:hover{
  transform: scale(0.95);
}
.icon{
  font-size: 1.9em;
}

.title{
  margin-top: 4vh;
  width: 80%;
  font-size: 2.5em;
  color: white;
  text-align:center;
  border-radius: 5px;
  padding: 10px;
  font-family: RetroFont, Arial, Helvetica, sans-serif ;
  backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.3);
    height: fit-content;
}
.success{
  background-color: rgb(128, 213, 0);
    position: absolute;
    right: 2%;
    width: 60%;

}
.contactos{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.alert_text{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
    .alert{
        width: 98vw;
        right: 1%;
        z-index: 20;
        
    }
    
    .form{
        margin-left: 4vw;
        width: 40vw;
        font-size:0.6em;
        margin-top: 4vh;
    }
    .form h1{
      text-align: center;
    }
    .title{
      font-size: 1.4em;
      width: 85%;
      margin-top: 5vh;
    
      
    }
    .button_linkedin{
      font-size: 0.9em;
    }
}
@media (max-width: 900px) {
  .form{
    margin-left: 10%;
  }
}
@media (max-width: 480px) {
  .container{
     flex-direction: column;
    padding-top: 0;
    align-items: center; 
    
  }
  
    .form{
       width: 70vw;
       font-size: 0.7em;
        margin: auto;
        height: fit-content;
        padding-bottom: 2vh;
        margin-top: 12vh;
        
    }
    .form button{
      padding: 4px 8px;
    }
    .form h1{
      font-size: 1.8em;
    }
    .contactos{
      display: flex;
      flex-direction: column;
      margin-bottom: 0vh;
      
    }
    .button_linkedin{
      font-size: 0.8em;
      margin-top: 1px;
    }
    .icon{
      font-size: 1.6em;
    }
    .title{
      text-align: center;
      font-size: 1.2em;
      margin:20px;
      margin-top: 8px;
      margin-bottom: 5px;
      padding: 6px;
      border-radius: 5px;
      
      
    }
    .contactos{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left:0 ;
    }
    .container{
      display: flex;
      
    }
    .form input {
      padding: 0;
    }
    .form textarea{
      padding-top:0 ;
    }
}