.boxText{
   
    display: flex;
    background-color: white;
    font-family: sans-serif,Arial, Helvetica, sans-serif;
    font-weight: 600;
    position: absolute;
    top: -13vh;
    right: 1%;
    width: 30%;
    padding-top: 30px;
    justify-content: center;
    
    height: 15vh;
    border-radius: 7px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 82%, 36% 82%, 13% 100%, 16% 82%, 0 82%);
    
    
}
.boxTextOff{
    display: none;
    position: absolute;
   
}
.container{
    position: absolute;
   bottom: 0;
   transition: 0.2s ;
}
.dogGIf{
    width: 60%;
    margin-left: 10px;
    margin-bottom: 20px;
    
    

}
@media (max-width: 768px) {
    .dogGIf{
        width: 35%;
        margin-bottom: 0px;
    }
    
    
}

@media (max-width: 480px) {
    .dogGIf{
        width: 30vw;
    }
    .container{
        position: relative;
        width: fit-content;
                
    }
    .boxText{
        width: 30vw;
        height: 13vh; 
        clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 76% 85%, 75% 100%, 48% 85%, 0 85%); 
}
   
    
}